/*Imported the Montserrat font used in the figma mockup*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

html,
body {
  max-width: 100%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background: #fafded;
  margin: 0px;
  height: 100%;
  color: #333;
}

section {
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
}

.navbar {
  display: table;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 9999;
  height: 8%;
}

.navbar > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  display: table;
  text-align: center;
  width: 20%;
  height: 100%;
  font-weight: 500;
}

.navbar li a {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-decoration: none;
  color: inherit;
}
.navbar li:hover {
  background-color: #e7eec7;
}

.title-image {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background: url(resources/crop2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  color: black;
}

.main-title {
  text-align: center;
  font-size: xx-large;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 1000;
  color: #3b3f20;
  padding-top: 5%;
}

.title-text {
  text-align: center;
  font-size: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 1000;
  color: #3b3f20;
  padding-top: 5%;
  text-decoration: underline;
  text-decoration-color: #687339;
  text-underline-offset: 0.5em;
}
#title-our-vision {
  margin-top: 50px;
  text-decoration: underline;
}

.subtitle-text {
  line-height: 800%;
  background: #e7eec7;
  color: #3b3f20;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-size: 125%;
}

.paragraph-container {
  text-align: center;
  background-color: rgb(250, 253, 237, 65%);
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  font-size: xx-large;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  text-align: center;
  max-width: 100%;
  position: relative;
}

.page-box {
  background: rgb(231, 238, 199, 0.8);
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 0% 5% 5% 5%;
  padding: 2%;
}

.page-box > p {
  color: #687339;
}

#scroll1 {
  margin-top: 5%;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.scroll-button {
  position: absolute;
  transform: translate(0%, 80%);
  animation: scrolldown-button 2s ease-in-out infinite;
}

.section-box {
  background: #e7eec7;
  width: 90%;
  box-shadow: 7px 7px 15px 0px #00000040;
  padding: 10%;
}

.left-image {
  position: relative;
  float: left;
  width: 50%;
  max-height: 300vh;
  right: 10%;
}

.right-text {
  text-align: justify;
  width: 100%;
}
.icon {
  width: 2%;
}
.list_icon {
  list-style: none;
}

.text {
  text-align: center;
  width: 100%;
  font-size: xx-large;
}

div.right {
  position: relative;
  left: 10vw;
  text-align: justify;
}

#our-service .section-box {
  display: flex;
  max-height: 20vh;
  justify-content: center;
  align-items: center;
  padding: 5%;
  box-shadow: none;
  font-size: 130%;
}

#our-service1 {
  background: #a1d3ac;
}

#our-service2 {
  background: #99b091;
}

.from-right {
  transform: translateX(70%);
}

.from-left {
  transform: translateX(-70%);
}

.from-left,
.from-right {
  transition: opacity 400ms ease-in, -webkit-transform 600ms ease-in;
  transition: opacity 400ms ease-in, transform 600ms ease-in;
  transition: opacity 400ms ease-in, transform 600ms ease-in,
    -webkit-transform 600ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0%);
  opacity: 1;
}

#flex {
  display: flex;
  align-items: center;
}

/* Our Vision/Product Features section */

/* Hover Effects */

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* CSS styling/formatting for section: */

.steps-list {
  list-style-type: none;
  width: 50vw;
}

.steps-list-item {
  width: inherit;
  padding: 20px;
  margin: 20px;
  overflow: auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
}

.steps-list-item h3 {
  margin: 0%;
}

.steps-list-item img {
  float: left;
  margin: 0 15px 0 0;
  width: 80px;
}

.our-vision-image {
  position: relative;
  float: left;
  left: 10%;
  width: 350px;
  height: 525px;
}

#features h3 {
  background: linear-gradient(
    0deg,
    rgba(250, 253, 237, 0.8),
    rgba(250, 253, 237, 1)
  );
}

.features-box-live {
  background: url("resources/live-tracking.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  border: 5px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 1%;
  padding: 2%;
}

.features-box-live p {
  display: none;
}

.features-box-live:hover {
  background: linear-gradient(
      0deg,
      rgba(207, 212, 181, 0.8),
      rgb(236, 243, 203)
    ),
    url("resources/live-tracking.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.features-box-live:hover p {
  display: block;
}

.features-box-stats {
  background: url("resources/statistics.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  border: 5px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 1%;
  padding: 2%;
}

.features-box-stats p {
  display: none;
}

.features-box-stats:hover {
  background: linear-gradient(
      0deg,
      rgba(207, 212, 181, 0.8),
      rgb(236, 243, 203)
    ),
    url("resources/statistics.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features-box-stats:hover p {
  display: block;
}

.features-box-incentives {
  background: url("resources/incentive.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40vw;
  height: 40vh;
  border: 5px;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 1%;
  padding: 2%;
}

.features-box-incentives p {
  display: none;
}

.features-box-incentives:hover {
  background: linear-gradient(
      0deg,
      rgba(207, 212, 181, 0.8),
      rgb(236, 243, 203)
    ),
    url("resources/incentive.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.features-box-incentives:hover p {
  display: block;
}

.circle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 80px;
  color: #fff;
  text-align: center;
  background: #3b3f20;
  padding: 2%;
  display: inline-block;
}

.left-stat {
  position: relative;
  right: 5%;
}

.right-stat {
  display: inline-block;
  left: 5%;
  color: #3b3f20;
}

div.stat {
  position: relative;
  text-align: justify;
}

.parallax1 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://assets.blog.hgtv.ca/wp-content/uploads/2020/08/17183824/learn-to-cook-with-parts-you-don%E2%80%99t-normally-consider-edible-ways-to-reuse-food-scraps-and-waste.jpg?width=435");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://igps.net/wp-content/uploads/2020/07/shutterstock_1465221002.jpg");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 85%, transparent 100%)
}

.parallax3 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://media.istockphoto.com/photos/donate-food-to-hungry-people-concept-of-poverty-and-hunger-picture-id1060352206?b=1&k=20&m=1060352206&s=170667a&w=0&h=Q-QLaV55QNyiV3o5OGlROI203b2GruSsoFlfbbex4xs=");
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://tricycle.org/wp-content/uploads/2007/01/joy-of-generosity-1.jpg");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.parallax5 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://media.bizj.us/view/img/10273770/howtovounteer*1200xx3865-2178-0-177.jpg");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.parallax6 {
  background: linear-gradient(
      0deg,
      rgba(250, 253, 237, 0.5),
      rgba(250, 253, 237, 0.7)
    ),
    url("https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/89/5d/53a583a54470aa62ae77269dd715/produce-wall-660x495-2x._TTW_._CR0,0,1320,990_._SR900,675_._QL100_.jpg");
  min-height: 150px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}

.container-learn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  text-align: center;
  max-width: 100%;
  position: relative;
  padding: 80px 0;
}
/* Our team  */

.our-team-title {
  grid-column: 1 /-1;
}
.our-team-container .our-team-title h1 {
  text-align: center;
}
.our-team-container .card p {
  color: white;
  margin: 0;
}
.our-team-container .our-team-title blockquote {
  text-align: right;
  font-size: 15px;
  position: relative;
  color: black;
  font-style: italic;
  margin: 0;
}

.our-team-container h3 {
  color: white;
  font-weight: 500;
}
.our-team-container {
  padding-top: 3.2rem;
  position: relative;
  min-height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  height: auto;
  /* justify-items: center;
  align-items: center; */
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 100px 354px 368px 0px;

  column-gap: 30px;
  row-gap: 60px;
}
.card {
  position: relative;
  transition: 0.5s;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.25);
  background: black;
  overflow: hidden;
  border-radius: 9px;
}

.card:hover {
  transform: translateY(-20px);

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
}
.our-team-container .card .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.img-box {
  align-content: center;
  justify-content: center;
}
.img-box img {
  width: auto;
  height: 100%;
}

.contentbox {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  text-align: center;
  margin: 0;
  transition: 0.5s;
}

.our-team-container .card:hover .img-box {
  opacity: 0.5;
}
.card:hover .contentbox {
  bottom: 0;
}
.card .contentbox {
  background: linear-gradient(0deg, #e0e021, transparent);
}
#greencontentbox {
  background: linear-gradient(0deg, #1cbe37, transparent);
}
.contentbox h3 {
  font-size: 23px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
.contentbox h3 span {
  font-size: 15px;
  font-style: italic;
}

.contentbox a:link,
.contentbox a:visited {
  color: #fff;
  font-style: italic;
  font-size: 14px;
}
.contentbox a:hover,
.contentbox a:active {
  color: #ffec99;
}
#greencontentbox a:hover,
#greencontentbox a:active {
  color: #20c997;
}

/*Fading slide down animation*/
@keyframes scrolldown-button {
  0% {
    transform: translate(0, 60%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 90%);
    opacity: 0;
  }
}

/*Twitter stuff*/
.twitter-box {
  background: #e7eec7;
  width: 30%;
  border: 5px solid #687339;
  border-radius: 12px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 0% 5% 5% 5%;
}

/*Donations*/
.donate-button {
  background: #e7eec7;
  border: 5px solid #687339;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  padding: 2%;
  cursor: pointer;
  opacity: 0.8;
}

.donate-button:hover {
  opacity: 1;
}
.form-popup {
  display: none;
  width: 30%;
  height: 70%;
  margin: 5%;
  position: fixed;
  top: 10%;
  left: 30%;
  z-index: 1;
}

.form-container {
  background: #e7eec7;
  border: 5px solid #687339;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  padding: 2%;
}

.form-container input[type="text"] {
  width: 95%;
  padding: 2%;
  margin: 5px 0 22px 0;
  border: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 99%;
  margin-bottom: 10px;
  opacity: 0.7;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover {
  opacity: 1;
}

progress {
  background: #e7eec7;
  border: 1px solid #687339;
  border-radius: 5px;
  height: 45px;
  width: 50%;
}
/*Contact Us Stuff*/

.contact-us {
  background-image: linear-gradient(
    to right,
    rgb(171, 224, 152) 0%,
    rgb(157, 193, 131) 75%,
    rgb(125, 154, 104) 100%
  );
  color: white;
  font-size: 20px;
  padding: 40px;
}

form {
  padding: 40px;
}

.form-group {
  margin: 20px;
}

.form-group label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-group input,
textarea {
  width: 320px;
  padding: 10px;
  font-size: 20px;
  color: #333;
  margin-bottom: 4px;
}

.form-group-img {
  display: inline-block;
}

textarea {
  width: 500px;
  height: 200px;
}

input.invalid {
  border: 1px solid red;
}

.error-hint {
  color: red;
}

hr {
  height: 1px;
  background-color: rgb(0, 114, 66);
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contact-us-button {
  padding: 10px;
  font-size: 24px;
  background: none;
  border: 1px solid rgb(0, 114, 66);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 20px;
}

.contact-us-button:hover {
  background-color: rgb(0, 114, 66);
  border: black;
  color: white;
}

.hidden {
  display: none;
}

.thank-you {
  padding: 40px;
  font-size: 32px;
  text-align: center;
}

.disclaimer {
  background: #edf0e1;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: #a4a4a4;
}

.disclaimer a:link {
  text-decoration: none;
  color: inherit;
}

.contact-form > button {
  margin-left: 20px;
}

/*Up and down animation*/
/* @keyframes scrolldown-button {
  0% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(60%);
  }
} */
