/*Imported the Montserrat font used in the figma mockup*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

html,
body {
  max-width: 100%;
  overflow-x: visible;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fafded;
  margin: 0px;
  height: 100%;
}

.title-image > img {
  width: 100%;
  max-height: 400px;
  overflow-y: hidden;
}

.title-text {
  text-align: center;
  color: #737373;
}

.pages-container {
  display: flex;
  justify-content: center;
  margin: 5%;
  text-align: center;
  max-width: 100%;
}

.page-box {
  background: #e7eec7;
  width: 30%;
  border: 5px solid #687339;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px #00000040;
  margin: 0% 5%;
  padding: 10%;
}

.page-box > h2 {
  color: #687339;
}
